<div>
    <h2 data-translate="rockbible2App.artist.home.title">Artists</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="artist.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="rockbible2App.artist.home.createLabel">
                        Create new Artist
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="rockbible2App.artist.nameArtist">Name Artist</span></th>
                    <th><span data-translate="rockbible2App.artist.sexo">Sexo</span></th>
                    <th><span data-translate="rockbible2App.artist.born">Born</span></th>
                    <th><span data-translate="rockbible2App.artist.status">Status</span></th>
                    <th><span data-translate="rockbible2App.artist.band">Band</span></th>
                    <th><span data-translate="rockbible2App.artist.country">Country</span></th>
                    <th><span data-translate="rockbible2App.artist.label">Label</span></th>
                    <th><span data-translate="rockbible2App.artist.review">Review</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="artist in vm.artists track by artist.id">
                    <td><a ui-sref="artist-detail({id:artist.id})">{{artist.id}}</a></td>
                    <td>{{artist.nameArtist}}</td>
                    <td data-translate="{{'rockbible2App.Sex.' + artist.sexo}}">{{artist.sexo}}</td>
                        <td>{{artist.born | date:'mediumDate'}}</td>
                    <td data-translate="{{'rockbible2App.Status.' + artist.status}}">{{artist.status}}</td>
                    <td>
                        <a ui-sref="band-detail({id:artist.band.id})">{{artist.band.nameBand}}</a>
                    </td>
                    <td>
                        <a ui-sref="country-detail({id:artist.country.id})">{{artist.country.countryName}}</a>
                    </td>
                    <td>
                        <a ui-sref="label-detail({id:artist.label.id})">{{artist.label.nameLabel}}</a>
                    </td>
                    <td>
                        <span ng-repeat="review in artist.reviews">
                            <a class="form-control-static" ui-sref="review-detail({id: review.id})">{{review.reviewName}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="artist-detail({id:artist.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="artist.edit({id:artist.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="artist.delete({id:artist.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
