
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserExtLabel" data-translate="rockbible2App.userExt.home.createOrEditLabel">Create or edit a User Ext</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.userExt.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.userExt.id" readonly />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImage($file, vm.userExt)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="rockbible2App.userExt.image" for="field_image">Image</label>
            <div>
                <img data-ng-src="{{'data:' + vm.userExt.imageContentType + ';base64,' + vm.userExt.image}}" style="max-height: 100px;" ng-if="vm.userExt.image" alt="userExt image"/>
                <div ng-if="vm.userExt.image" class="help-block clearfix">
                    <span class="pull-left">{{vm.userExt.imageContentType}}, {{vm.byteSize(vm.userExt.image)}}</span>
                    <button type="button" ng-click="vm.userExt.image=null;vm.userExt.imageContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImage($file, vm.userExt)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                    ng-model="vm.userExt.image"
                    />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                    ng-model="vm.userExt.imageContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rockbible2App.userExt.latitude" for="field_latitude">Latitude</label>
            <input type="number" class="form-control" name="latitude" id="field_latitude"
                    ng-model="vm.userExt.latitude"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rockbible2App.userExt.logitude" for="field_logitude">Logitude</label>
            <input type="number" class="form-control" name="logitude" id="field_logitude"
                    ng-model="vm.userExt.logitude"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rockbible2App.userExt.locationGoogleMaps" for="field_locationGoogleMaps">Location Google Maps</label>
            <input type="text" class="form-control" name="locationGoogleMaps" id="field_locationGoogleMaps"
                    ng-model="vm.userExt.locationGoogleMaps"
                    />
        </div>

        <div class="form-group">
            <label data-translate="rockbible2App.userExt.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.userExt.user" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="rockbible2App.userExt.album" for="field_album">Album</label>
            <select class="form-control" id="field_album" multiple name="album" ng-model="vm.userExt.albums" ng-options="album as album.albumName for album in vm.albums track by album.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
