
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBandLabel" data-translate="rockbible2App.band.home.createOrEditLabel">Create or edit a Band</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.band.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.band.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rockbible2App.band.nameBand" for="field_nameBand">Name Band</label>
            <input type="text" class="form-control" name="nameBand" id="field_nameBand"
                    ng-model="vm.band.nameBand"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rockbible2App.band.locationGoogleMaps" for="field_locationGoogleMaps">Location Google Maps</label>
            <input type="text" class="form-control" name="locationGoogleMaps" id="field_locationGoogleMaps"
                    ng-model="vm.band.locationGoogleMaps"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rockbible2App.band.latitude" for="field_latitude">Latitude</label>
            <input type="number" class="form-control" name="latitude" id="field_latitude"
                    ng-model="vm.band.latitude"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rockbible2App.band.logitude" for="field_logitude">Logitude</label>
            <input type="number" class="form-control" name="logitude" id="field_logitude"
                    ng-model="vm.band.logitude"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rockbible2App.band.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.band.status" id="field_status">
                <option value="ACTIVO" data-translate="rockbible2App.Status.ACTIVO">ACTIVO</option>
                <option value="CESADO" data-translate="rockbible2App.Status.CESADO">CESADO</option>
            </select>
        </div>

        <div class="form-group">
            <label data-translate="rockbible2App.band.genre" for="field_genre">Genre</label>
            <select class="form-control" id="field_genre" name="genre" ng-model="vm.band.genre" ng-options="genre as genre.genreName for genre in vm.genres track by genre.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="rockbible2App.band.country" for="field_country">Country</label>
            <select class="form-control" id="field_country" name="country" ng-model="vm.band.country" ng-options="country as country.countryName for country in vm.countries track by country.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="rockbible2App.band.label" for="field_label">Label</label>
            <select class="form-control" id="field_label" name="label" ng-model="vm.band.label" ng-options="label as label.nameLabel for label in vm.labels track by label.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
